<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userCameraSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScanImage.Properties.CameraSettings" type="System.Configuration.ClientDeviceSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TableOcrExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!-- Thumbnail width for image in gallery -->
    <add key="ThumbnailWidth" value="100"/>
    <!-- Thumbnail height for image in gallery -->
    <add key="ThumbnailHeight" value="100"/>
  </appSettings>
  <userSettings>
    <TableOcrExtractor.Properties.Settings>
      <setting name="CurrentCultureInfo" serializeAs="String">
        <value>0</value>
      </setting>
    </TableOcrExtractor.Properties.Settings>
  </userSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <variable name="baseLogFolder" value="${specialfolder:folder=ApplicationData}/${processname}/${assembly-version}/${date:format=yyyy-MM-dd}"/>
    <variable name="localLogFolder" value="${basedir}/logs"/>
    <variable name="traceFilePath" value="${localLogFolder}/${date:cached=True:format=yyyy-MM-dd}.log"/>
    <variable name="errorFilePath" value="${localLogFolder}/errors/${date:format=yyyy-MM-dd}.log"/>
    <variable name="traceLayout" value="[${longdate}] [${uppercase:${level}}] ${message}"/>
    <variable name="errorLayout" value=" [${date:format=HH-mm-ss-ffff} ${uppercase:${level}}] ${message} ===================================== Version: ${assembly-version} Call Site: ${callsite} Exception Type: ${exception:format=Type} Exception Message: ${exception:format=Message} Stack Trace: ${exception:format=StackTrace} Additional Info: ${message} =====================================${newline}"/>
    <variable name="maxArchiveFilesQty" value="5"/>
    <variable name="maxArchiveFilesErrorsQty" value="20"/>
    <variable name="maxLogFileSizeBytes" value="5242880"/>
    <targets async="true">
      <target name="traceTarget" type="File" fileName="${traceFilePath}" layout="${traceLayout}" MaxArchiveFiles="${maxArchiveFilesQty}" ArchiveAboveSize="${maxLogFileSizeBytes}"/>
      <target name="errorsTarget" type="File" fileName="${errorFilePath}" layout="${errorLayout}" MaxArchiveFiles="${maxArchiveFilesErrorsQty}" ArchiveAboveSize="${maxLogFileSizeBytes}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="trace" writeTo="traceTarget"/>
      <logger name="*" minlevel="error" writeTo="errorsTarget"/>
    </rules>
  </nlog>
</configuration>
